[DEFAULT]
# Do not leave the ClientSecret in the config file
# The API keys will need to be Service Principal Management
ClientID:<put clientID here>
ClientSecret:<put clientSecret here or leave blank to enter manually>

[REPORT]
ReportName:<put report name here>
ReportFilePath:<put file path here>
